@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?akbieg');
  src:  url('fonts/icomoon.eot?akbieg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?akbieg') format('truetype'),
    url('fonts/icomoon.woff?akbieg') format('woff'),
    url('fonts/icomoon.svg?akbieg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE903:before {
  content: "\e903";
}
.icon-uniE905:before {
  content: "\e905";
}
.icon-uniE908:before {
  content: "\e908";
}
.icon-uniE90B:before {
  content: "\e90b";
}
.icon-uniE90C:before {
  content: "\e90c";
}
.icon-uniE90D:before {
  content: "\e90d";
}
.icon-uniE90E:before {
  content: "\e90e";
}
.icon-uniE911:before {
  content: "\e911";
}
.icon-uniE912:before {
  content: "\e912";
}
.icon-telephone:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-cliente:before {
  content: "\e909";
}
.icon-contrato:before {
  content: "\e90a";
}
.icon-estudios:before {
  content: "\e90f";
}
.icon-ubicacion:before {
  content: "\e910";
}
.icon-videos:before {
  content: "\e913";
}
.icon-fotos:before {
  content: "\e914";
}
.icon-referencias:before {
  content: "\e915";
}
.icon-antecedentes:before {
  content: "\e916";
}
.icon-social:before {
  content: "\e917";
}
.icon-salud:before {
  content: "\e918";
}
.icon-habitos:before {
  content: "\e919";
}
.icon-documentos:before {
  content: "\e91a";
}
.icon-usuario:before {
  content: "\e91b";
}
.icon-home3:before {
  content: "\e902";
}
